nav(class='navbar navbar-inverse navbar-fixed-top' role='navigation')
	div(class='navbar-header')
	button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
		span(class='sr-only')= __('Toggle navigation')
		span(class='icon-bar')
		span(class='icon-bar')
		span(class='icon-bar')
	a(class='navbar-brand' href='/')= __('Media Consumption')

	div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
		ul(class='nav navbar-nav')
			li(class='dropdown')
				a(href='#', class='dropdown-toggle', data-toggle='dropdown')= __('Gas Consumption')
					b(class='caret')
				ul(class='dropdown-menu')
					li
						a(href='/gasReadings')= __('Table')
					li
						a(href='/gasReadings/new')= __('New reading')
					li(class='divider')
					li
						a(href='/gasReadings/import')= __('Import')

			li(class='dropdown')
				a(href='#', class='dropdown-toggle', data-toggle='dropdown')= __('Gas Invoices')
					b(class='caret')
				ul(class='dropdown-menu')
					li
						a(href='/gasInvoices')= __('Table')
					li
						a(href='/gasInvoices/new')= __('New invoice')
					li(class='divider')
					li
						a(href='/gasInvoices/import')= __('Import')
					li(class='divider')
					li
						a(href='/heatingCosts')= __('Heating Costs')

			li(class='dropdown')
				a(href='#', class='dropdown-toggle', data-toggle='dropdown')= __('Electricity')
					b(class='caret')
				ul(class='dropdown-menu')
					li
						a(href='/electricityReadings')= __('Table')
					li
						a(href='/electricityReadings/new')= __('New reading')
					li(class='divider')				
					li
						a(href='/electricityReadings/import')= __('Import')
					li(class='divider')
					li			
						a(href='/electricityCharges')= __('Electricity Charges')
				
			li(class='dropdown')
				a(href='#', class='dropdown-toggle', data-toggle='dropdown')= __('Water')
					b(class='caret')
				ul(class='dropdown-menu')
					li
						a(href='/waterReadings')= __('Table')
					li
						a(href='/waterReadings/new')= __('New reading')
					li(class='divider')
					li
						a(href='/waterReadings/import')= __('Import')
				

			li(class='dropdown')
				a(href='#', class='dropdown-toggle', data-toggle='dropdown')= __('Statistics')
					b(class='caret')
				ul(class='dropdown-menu')
					li
						a(href='/statistics')= __('Means')
					li			
						a(href='/statistics/charts')= __('Chart')

