extends ../layout

block content
	h1= title

	p
		a(href=controllerPath + 'new') Enter new reading

	table
			thead
				tr
					- labels.actuals.forEach(function(label) {
						th= label
					-	});
					- labels.virtuals.forEach(function(label) {
						th= label
					-	});					
			tbody
			- readings.forEach(function(reading) {
				tr
					- labels.actuals.forEach(function(label) {
						- var actual = reading[label.toLowerCase()];
						td= typeof actual === "object" ? actual.toLocaleDateString() : actual
					-	});						
					- for(var virtual in reading.virtuals) {
						td= reading.virtuals[virtual]
					- }
					td
						form(action=controllerPath + encodeURIComponent(reading._id), method='GET')
							input(type='submit', value='Edit')									
					td
						form(action=controllerPath + encodeURIComponent(reading._id), method='POST')
							input(name='_method', type='hidden', value='DELETE')
							input(type='submit', value='Delete')					
			- });		

	- if (page > 0) {
		a(href='?page=' + (page - 1)) Previous
		&nbsp;
	-	}

	- if (! lastPage) {
		a(href='?page=' + (page + 1)) Next
	-	}	