extends ../layout

block content
	h1= title

	- var actionPath = reading ? '/' + encodeURIComponent(reading._id) : '';

	form(method='POST', action=controllerPath + actionPath)
		- labels.actuals.forEach(function(label) {
			- var lower = label.toLowerCase();
			p
				label(for=lower)= label 
				<br />
				input(id=lower, name=lower value=reading && reading[lower])
		-	});

		p
			input(type='submit', value='Save')

		- if (reading) {
			input(name='_method', type='hidden', value='PUT')
		-	}