extends ../layout

block content
	h1= title

	p
		a(href='/gasReadings/new') Enter new reading

	table
		- gasReadings.forEach(function(gasReading) {
			tr
				td= gasReading.date
				td= gasReading.state
				td= gasReading.usage
				td= gasReading.daily
				td= gasReading.prediction
				td
					a(href='/gasReadings/' + encodeURIComponent(gasReading._id)) Edit
				td
					form(action='/gasReadings/' + encodeURIComponent(gasReading._id), method='POST')
						input(name='_method', type='hidden', value='DELETE')
						input(type='submit', value='Delete')					
		- });		

	- if (page > 0) {
		a(href='?page=' + (page - 1)) Previous
		&nbsp;
	-	}

	- if (! lastPage) {
		a(href='?page=' + (page + 1)) Next
	-	}	