extends ../layout

block content

	div(class='page-header')
		h1= title

	include ../common/links

	div(class='row')
		div(class='col-xs-5 col-lg-5')
			table(class='table table-striped table-condensed')
				thead
					tr
						th Period
						th Gas / Day
						th Electricity / Day
						th Water / Week
				- periods.forEach(function(period) {
					tr
						td= period
						td= round(data[period].gas)
						td= round(data[period].electricity)
						td= round(data[period].water)
				- });