extends ../layout

block content
	div(class='page-header')
		h1= title

	div(class='row')
		div(class='col-xs-4 col-lg-4')
			table(class='table table-striped table-condensed')
				thead
					tr
						th Year
						th Cost
						th Usage
						th Ratio
				tbody
				- heatingCosts.forEach(function(heatingCost) {
					tr
						td= heatingCost._id
						td= round(heatingCost.cost)
						td= round(heatingCost.usage)
						td= round(heatingCost.cost / heatingCost.usage)
				- });