extends ../layout

block content
	div(class='page-header')
		h1= title

	- var actionPath = electricityCharge ? '/' + encodeURIComponent(electricityCharge._id) : '';		

	div
		form(role='form', method='POST', action='/electricityCharges' + actionPath)
			- labels.forEach(function(label) {
				div(class='row')
					div(class='form-group col-xs-5 col-lg-2')
						label(for=label)= label 
						input(type='text', class='form-control', id=label, name=label, value=electricityCharge && electricityCharge[label])
			-	});

			div(class='row')
				div(class='form-group col-xs-5 col-lg-2')
					label(for='appliesFrom')= __('Applies from')
					input(type='date', class='form-control', id='appliesFrom', name='appliesFrom', 
						disabled=electricityCharge value=electricityCharge ? dateString(electricityCharge['appliesFrom']) : today())

			button(type='submit', class='btn btn-default')= __('Save')
			- if (electricityCharge) {
				input(name='_method', type='hidden', value='PUT')
			-	}